body {
  background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.sidebar-color {
  background-color: #f8f8fc;
  opacity: 0.9;
  background-image: radial-gradient(#444cf7 0.5px, #f4f4ff 0.5px);
  background-size: 10px 10px;
}

#sidebar {
  height: 100%;
  /* background-color: aliceblue; */
  color: #000000;
  transition: margin-left 0.3s;
  text-align: center;
  font-size: 18px;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



#content {
  transition: margin-left 0.3s;
  padding: 15px;
  margin-left: 250px;
}

#menu-toggle,
#menu-close {
  cursor: pointer;
  display: none;
  position: fixed;
  top: 8px;
  left: 93%;
  z-index: 1002;
}

#sidebar .list-group-item {
  background-color: rgba(255, 255, 255, 0);
  color: #000000;
  border: none;
  text-align: left;
  padding-left: 10%;
  margin-bottom: 5px;
}

#sidebar .list-group-item:hover {
  background-color: lightskyblue;
}

#sidebar .list-group-item.active {
  background-color: #80b0ea;
  border-left: 4px solid #0056b3;
  /* Change the border color as needed */
}

.list-unstyled.components li {
  margin-bottom: 13px;
}

/* top hamberger color bar */
.color-bar {
  display: none;
}


/* important page start */
/* Image styling */
.hoverImage {
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 10px;
  width: 96px;
  height: 96px;
  color: black;
  transition: transform 0.5s ease-in-out;
}

.impPageLink {
  color: black;
}

.impPageLink:hover {
  color: black;
}

.impPageLinkdiv {
  font-family: Perpetua, serif;
  font-size: 20pt;
  text-align: center;
}

.hoverImageWrapper:hover .hoverImage {
  transform: scale(1.3);
  color: black;
}

/* important page end */

/* news update start */
.news-container {
  height: 250px;
  /* border: 1px solid #ccc; */
  /* padding: 10px;          */
  box-shadow: 0px 4px 8px rgba(72, 72, 72, 0.1);
  font-family: 'GFS Didot';
  font-size: 13.5pt;
  overflow-y: auto;
}

/* Styling each news item */
.news-item {
  margin-bottom: 10px;
  /* Spacing between news items */
}

/* Date part */
.news-item .date {
  font-weight: bold;
  color: #333;
}

/* News description */
.news-item .description {
  color: #595959;
  display: inline;
  /* Keep the date and news on one line */
}

/* Optional: Scrollbar styling (for modern browsers) */
.news-container::-webkit-scrollbar {
  width: 6px;
}

.news-container::-webkit-scrollbar-thumb {
  background-color: #aaa;
  /* Color of scrollbar thumb */
  border-radius: 10px;
}

/* Hover effect for the news item */
.news-item:hover {
  background-color: #f0f0f0;
  /* Change background color on hover */
}

.news_card {
  margin-bottom: 10px;
  background-color: rgba(242, 223, 250, 0.403);
  border: none;
}

/* news update end */


/* card start */
.pub_card {
  margin-bottom: 10px;
}

.contact-button {
  display: inline-block;
  color: #3d3d3d;
  font-size: 18px;
  padding: 6px 6px;
  font-family: 'GFS Didot';
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 3px;
  /* margin: 30px; */
  /* border-bottom: 20px; */
  white-space: nowrap;
  /* line-height: 45px; */
}

.contact-button:hover {
  /*formatting goes here*/
  background-color: rgb(138, 208, 255);
  color: #000000;
}

.default_card_text {
  font-size: 14pt;
  /* font-family: 'Lato', sans-serif; */
  font-family: 'GFS Didot';
  /* text-align: justify; */
  color: #575757;
}

.about_card {
  margin-bottom: 3px;
  background-color: rgb(240, 240, 240);
  border: none;

}

.edu_card {
  margin-bottom: 10px;
  background-color: rgba(142, 255, 210, 0.167);
  border: none;
}

.cv_card {
  margin-bottom: 10px;
  background-color: #f0f0ff;
  border: none;
}

.exp_card {
  margin-bottom: 10px;
  background-color: rgba(160, 244, 255, 0.203);
  border: none;
}

/* .pub_card:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease;
} */

.publication_title {
  font-size: 20pt;
  /* margin-bottom: 3px;  */
  font-family: 'GFS Didot';
  line-height: 1.1;
  /* margin: 2px; */
  padding: 3px;
  color: #464646;
}

.author_name {
  background-color: rgb(221, 221, 221);
  padding: 3px;
  display: inline-block;
  color: #464646;
  margin-right: 2px;
  border-radius: 8px;
  margin-bottom: 2px;
  font-family: 'Poiret One';
  font-size: 13pt;
}

.journal_name {
  font-size: 19px;
  margin-top: 2px;
  margin-bottom: 0px;
  font-family: 'GFS Didot';
  padding: 2px;
  display: inline-block;
  border-radius: 8px;
  /* background-color: rgb(255, 216, 216); */
  color: #464646;
}

.journal_name_span {
  background-color: rgb(200, 255, 209);
  /* background-color: rgb(255, 216, 216); */
  padding: 3px;
  border-radius: 8px;
  line-height: 1.7;
}

.card_button {
  font-size: 18px;
  padding: 4px 8px;
  font-family: 'GFS Didot';
  margin-bottom: 3px;
}

/* card end */

/* carousel start */


#image-carousel {
  max-width: 75%;
  /* Set your preferred max width */
  margin: 0 auto;
  /* Center the carousel on the page */
}

.splide__track {
  height: 60%;
  /* Adjust to desired height */
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ensure the images maintain aspect ratio and don't overflow */
.splide__slide img {
  max-width: 100%;
  /* Image scales down but keeps ratio */
  max-height: 100%;
  /* Image scales to fit the container */
  object-fit: contain;
  /* Ensure the entire image is visible without distortion */
}

/* carousel end */

/* dark mode */
#toggleDarkMode {
  cursor: pointer;
  position: fixed;
  width: 0;
  top: 8px;
  left: 97%;
  z-index: 1003;
}


/* dark mode start */

/* dark sidebar bg start */
.dark-mode .sidebar-color {
  background-color: #ffffff;
  opacity: 0.9;
  background-image: radial-gradient(#444cf7 0.5px, #3b3b3be4 0.5px);
  background-size: 10px 10px;
}

/* dark sidebar bg end */

.dark-mode {
  background-color: #222;
  color: #fff;
}

.dark-mode .card {
  background-color: #333;
  /* Dark mode background color */
  color: #fff;
  /* Dark mode text color */
}


.dark-mode .popup {
  background-color: #333;
  color: #fff;
}

.dark-mode #sidebar {
  background-color: #333;
  color: #fff;
}

.dark-mode #sidebar .list-group-item:hover {
  background-color: rgb(47, 119, 119);
}

.dark-mode #sidebar .list-group-item.active {
  background-color: #224a75;
  border-left: 4px solid #002a56;
  /* Change the border color as needed */
}

.dark-mode #sidebar .list-group-item {
  background-color: #33333300;
  color: #ebebeb;
}

.dark-mode .color-bar {
  background-color: #333;
  color: #ebebeb;
}

.dark-mode .contact-button {
  background-color: #333;
  color: #ebebeb;
  border-color: #fff;
}

.dark-mode .contact-button:hover {
  background-color: rgb(138, 208, 255);
  color: #000000;
}

/* publication text color start*/
.dark-mode .publication_title {
  color: #ebebeb;
}

.dark-mode .default_card_text {
  color: #ebebeb;
}


/* publication text color end*/


/* important page start */
.dark-mode .impPageLink {
  color: rgb(236, 236, 236);
}

.dark-mode .impPageLink:hover {
  color: rgb(236, 236, 236);
}

/* important page end */

/* new update start */
/* Date part */
.dark-mode .news-item .date {
  font-weight: bold;
  color: #ededed;
}

/* News description */
.dark-mode .news-item .description {
  color: #eaeaea;
  display: inline;
  /* Keep the date and news on one line */
}

/* Hover effect for the news item */
.dark-mode .news-item:hover {
  background-color: #211b1b;
  /* Change background color on hover */
}

/* new update end */

/* dark mode end */


@media (max-width: 1200px) {

  /* @media (max-width: 768px) { */
  #sidebar {
    margin-left: -250px;
    /* text-align: left; */
    text-align: center;
  }

  #content {
    margin-left: 0;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #menu-toggle {
    display: block;
  }

  #menu-close {
    display: none;
  }

  #toggleDarkMode {
    cursor: pointer;
    position: fixed;
    width: 0;
    top: 8px;
    left: 87%;
    z-index: 1003;
  }

  .color-bar {
    display: block;
    width: 100%;
    height: 40px;
    background-color: aliceblue;
    text-align: center;
    position: fixed;
    top: 0;
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    line-height: 40px;
    font-size: 16px;
    border-radius: 8px;
    z-index: 1001;
    opacity: 0.9;
  }

  /* card start */
  .default_card_text {
    font-size: 11pt;
  }

  .reference_card_text {
    font-size: 11pt;
  }

  .publication_title {
    margin-top: 10px;
    font-size: 14pt;
    line-height: 1.1;
  }

  .author_name {
    font-size: 11pt;
  }

  .journal_name {
    font-size: 14px;
  }

  .card_button {
    font-size: 15px;
  }

  /* card end */

  /* carousel start */
  #image-carousel {
    max-width: 95%;
    /* Set your preferred max width */
    margin: 0 auto;
    /* Center the carousel on the page */
  }

  .splide__track {
    height: 90%;
    /* Adjust to desired height */
  }

  /* carousel end */

  /* contact button start */
  .contact-button {
    font-size: 13px;
  }

  /* contact button end */

  /* imporatnt page start */
  .impPageLinkdiv {
    font-size: 11pt;
  }

  .hoverImage {
    width: 66px;
    height: 66px;
  }

  /* imporatnt page end */

  /* lateset news start */
  .news-container {
    font-size: 12pt;
  }
  /* lateset news start */

  /* card end */
}